---
import Layout from '../layouts/Layout.astro';
import Modal from '../components/Modal.astro';
import { getCollection, render } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

interface Entry {
  data: CollectionEntry<'about'>['data'];
  Content: any;
}

const raw = await getCollection('about');
const entries: Entry[] = await Promise.all(
  raw.map(async entry => {
    const { Content } = await render(entry);
    return { data: entry.data, Content };
  })
);

// Sort entries by order in ascending order
entries.sort((a, b) => a.data.order - b.data.order);
---

<Layout>
  <!-- single global Modal instance -->
  <Modal title="" icon={entries[0]?.data.logo} />
  <div class="about">
    <div class="about-content">
      <h2>About</h2>
      <hr />
      <p>
        I am a data professional living in Vancouver, BC, with over two-year experience as a Data Engineer in the retail industry, focused on designing and building data-driven software solutions. I am currently completing my Master's Degree in Data Science and will be available for full-time work starting July 2025.
      </p>
      <h3>What I do!</h3>
      <div class="about-content-all-cards">
        {entries.map((entry) => (
          <div class="about-content-card">
            <div class="card-icon">
              <i class={entry.data.icon}></i>
            </div>
            <div class="card-content">
              <h4>{entry.data.title}</h4>
              <p>{entry.data.short}</p>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</Layout>