---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="education">
    <h2>Education</h2>
    <hr />
    <div class="education-content-card">
      <div class="card-icon">
        <img src="/ubc.svg" alt="UBC Logo">
      </div>
      <div class="education-card-content">
        <h4>Master's in Data Science</h4>
        <h3>University of British Columbia</h3>
        <p>Vancouver, BC, Canada</p>
      </div>
    </div>

    <div class="education-content-card">
      <div class="card-icon">
        <img src="/tec.svg" alt="TEC Logo">
      </div>
      <div class="education-card-content">
        <h4>Bachelor's in Computer Science and Engineering</h4>
        <h3>ITESM</h3>
        <h5>Minor in Data Science</h5>
        <p>Monterrey, NL, Mexico</p>
      </div>
    </div>
  </div>
</Layout>