---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="projects">
    <h2>Projects</h2>
    <hr />
    <div class="project-content-all-cards">
      <div class="project-content-card">
        <div class="card-img">
          <img src="/smart_search.png" alt="Smart Search" />
        </div>
        <div class="project-card-content">
          <h3>Smart Search</h3>
          <h4>October, 2024</h4>
          <p>
            Smart Search is a semantic search bar feature integrated into 
            the Canvas Discussion panel...
          </p>
          <div class="project-categories">
            <span class="category category-web">Web Development</span>
            <span class="category category-ml">Machine Learning</span>
          </div>
        </div>
      </div>

      <!-- Add more project-content-card blocks as needed -->
    </div>
  </div>
</Layout>