---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="work-exp">
    <h2>Work Experience</h2>
    <hr />
    <div class="education-content-card">
      <div class="card-icon">
        <img src="/kuona.svg" alt="Kuona Logo">
      </div>
      <div class="education-card-content">
        <h4>Kuona</h4>
        <h3>Data Engineer</h3>
        <h5>June 2022 - August 2024</h5>
        <p>Full time</p>
      </div>
    </div>
  </div>
</Layout>