---
import Layout from '../../layouts/Layout.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
    const projectsEntries = await getCollection('personal-projects');
    
    return projectsEntries.map(entry => ({
        params: { id: entry.slug },
        props: { entry }
    }));
}

const { entry } = Astro.props;
const { data } = entry;
const { title, date, description, image, categories } = data;

const { Content } = await render(entry);
---

<Layout title={`Project - ${title}`}>
    <div class="individual-education-exp">
        <a href="/projects#main-area">
            <i class="fa-solid fa-chevron-left"></i>
        </a>
        <div class="individual-education-exp-title">
            <h2 transition:name={`title-${entry.slug}`}>{title}</h2>
        </div>
    </div>
    <hr />
    <div class="individual-education-exp-info">
        <p>{date}</p>
    </div>
    <div class="individual-content">
        <Content />
    </div>
</Layout>