---
import { ClientRouter } from 'astro:transitions';

import Sidebar from '../components/Sidebar.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { pathname } = Astro.url;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Javier's Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="I am a data professional living in Vancouver, BC, with over two-year experience as a Data Engineer in the retail industry, focused on designing and building data-driven software solutions." />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://javiermartinez.dev/" />
    <meta property="og:title" content="Javier's Portfolio" />
    <meta property="og:description" content="I am a data professional living in Vancouver, BC, with over two-year experience as a Data Engineer in the retail industry, focused on designing and building data-driven software solutions." />
    <meta property="og:image" content="/thumbnail.jpg" />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://javiermartinez.dev/" />
    <meta property="twitter:title" content="Javier's Portfolio" />
    <meta property="twitter:description" content="I am a data professional living in Vancouver, BC, with over two-year experience as a Data Engineer in the retail industry, focused on designing and building data-driven software solutions." />
    <meta property="twitter:image" content="/thumbnail.jpg" />
    
    <link rel="icon" href="/favicon.jpg" type="image/jpg" />
    <link rel="stylesheet" href="/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link 
      rel="preconnect" 
      href="https://fonts.gstatic.com" 
      crossorigin
    >
    <link 
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap" 
      rel="stylesheet"
    >
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    >

    <!-- Global CSS -->
    <ClientRouter />
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <div class="container">
      <!-- Sidebar -->
      <Sidebar />

      <!-- Main area -->
      <div class="main-area" id="main-area">
        <!-- Header -->
        <Header currentPath={pathname} />

        <!-- Page Content (slot) -->
        <div class="content">
          <slot />
        </div>
      </div>
    </div>

    <!-- Footer -->
    <Footer />
  </body>
</html>